body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#stylesPane {
	padding: 0 1em;
}

h1 {
	font-size: 1.7em;
}

/**
 * Search pane
 */
#searchPane {
	border: 1px #999 solid;
	background: #F0F0F0;
	margin: 1em 0;
	padding: 0 1em 1em;
	min-width: 720px;
	max-width: 1010px;
	min-height: 140px;
	position: relative;
}

#loading {
	margin: 0;
	padding: .1em .2em .2em .6em;
	position: absolute;
	top: 0;
	right: 0;
	background: #B50000;
	font-size: 14px;
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
	top: 18px;
	font-size: 1.3em;
	margin: 0;
}

#searchPane h2, #searchFieldBox, #searchField, #dependentToggleBox {
	position: absolute;
}

#searchFieldBox {
	top: 48px;
}

#searchField {
	font-size: 16px;
	width: 255px;
	max-width: 255px;
}

#dependentToggleBox {
	top: 97px;
	margin-left: -5px;
}

.categoryBox {
	position: relative;
	margin-left: 368px;
	min-height: 35px;
}

.categoryBox > p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	position:absolute;
	top: 7px;
	left: -110px;
	width: 100px;
	text-align: right;
}

#formatsBox {
	width: 365px;
	margin-top: 13px;
}

#fieldsBox {
	margin-top: 13px;
}


/* This selector name must be reflected in js.js for WebKit */
#searchFields ul {
	margin: 0;
	padding: 0;
}

#searchFields li {
	float: left;
	list-style: none;
	height: 19px;
	margin: 4px 7px 4px 0;
	padding: 3px 6px;
}

#searchFields li:not(.loading) {
	border: 1px #999 solid;
	border-radius: 8px;
	cursor: default;
	-moz-border-radius: 8px;
}

#searchFields li:not(.loading):hover {
	background: rgb(187, 206, 241);
	border: 1px solid rgb(109, 149, 224);
}

#searchFields li:not(.loading):active, #searchFields li.selected {
	color: white;
	background: rgb(89, 139, 236);
}

#searchFields li.selected {
	border: 1px solid rgb(89, 139, 236);
}


/**
 * Style list
 */
.styleList li {
	margin-bottom: .6em;
}

#view-source {
	margin: 0 0 0 1.5em;
	font-size: x-small;
	vertical-align: middle;
	line-height: .95em;
}

.styleList .metadata {
	font-size: .85em;
	margin-left: 1.5em;
}

.styleList .invalid {
	color: red;
}

/**
 * Undo some tooltip styling in previews
 */
h3 {
	margin-top: .25em;
}

.csl-bib-body {
	position: relative;
	word-wrap: normal;
	margin-bottom: .6em;
}

.ui-tooltip, .qtip{
	max-width: 700px;
}

.ui-tooltip-content{
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	
	border-width: 1px;
	border-style: solid;
	
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
}

.ui-tooltip-content{
	border: 2px #000 solid;
	background: #fff;
	color: #000;
}

.ui-tooltip-content{
	-webkit-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);
	-moz-box-shadow:1px 1px 3px 1px rgba(0,0,0,0.15);
	box-shadow:1px 2px 4px 1px rgba(0,0,0,0.15);
}
