@import "abstracts/mixins";
@import "themes/light";
@import "themes/dark";

html {
	color-scheme: light dark;
}

body {
	background: var(--color-background);
	color: var(--fill-primary);
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.3em;
	margin: 0;
	top: 18px;
}

.page-wrapper {
	padding: 0 1em;
}


.search-pane {
	background: var(--material-sidepane);
	border: var(--material-panedivider);
	display: flex;
	flex-direction: row;
	margin: 1em 0;
	max-width: 1010px;
	min-height: 140px;
	min-width: 720px;
	padding: 0 1em;
	position: relative;

	.fields-list,
	.formats-list {
		display: block;
		height: auto;
		list-style: none;
		overflow: hidden;
		width: 90%;

		li {
			display: inline-block;
			margin: 4px 7px 4px 0;

			> button {
				background-color: var(--material-button);
				box-shadow:
					0px 1px 0.75px 0px var(--fill-quinary),
					0px 0.25px 0.25px 0px var(--color-border);
				border: 0.5px solid var(--fill-senary);
				color: var(--color-primary);
				cursor: default;
				padding: 3px 6px;
				font-size: 1em;

				&:hover {
					background-color: var(--accent-azure);
					color: var(--accent-white);
				}

				&.field-active,
				&.format-active {
					background: var(--accent-blue);
					border-color: var(--accent-blue);
					color: var(--accent-white);

					&:hover {
						background-color: var(--accent-azure);
						border-color: var(--accent-blue);
						color: var(--accent-white);
					}
				}
			}
		}
	}
}

.search-pane-loading-indicator {
	background: var(--accent-red);
	color: var(--accent-white);
	margin: 0;
	padding: .1em .2em .2em .6em;
	position: absolute;
	right: 0;
	top: 0;
}


.search-field {
	font-size: 1em;
	border: var(--material-border);
	padding: 4px 6px;
	margin-top: 1em;
	max-width: 255px;
	width: 255px;
	border-radius: 3px;
	transition: border 0.15s ease, box-shadow 0.15s ease, padding 0.15s ease;
	margin: 0; // Remove margin in Safari
	background-clip: padding-box; // Remove inner shadow on iOS

	&:focus {
		border-color: var(--accent-blue);
		box-shadow: 0 0 0 2px var(--accent-blue);
		outline: none;
	}
}

.style-list {
	li {
		display: inline-list-item;
		line-height: 1.2em;
		margin-bottom: .6em;
	}

	.metadata {
		font-size: .85em;
		margin-left: 1.5em;
	}
}

.search-pane-col-1 {
	flex: 0 0 260px;
	padding-top: 1.5em;
}

.search-pane-col-2 {
	max-width: calc(100% - 260px);

	p {
		display: flex;
		flex-direction: row;

		strong,
		span {
			min-width: 100px;
			padding-top: .5em;
			text-align: right;
		}

		ul {
			margin: 0;
			padding: 0 0 0 .5em;
		}
	}
}

@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}

.styles-loading {
	display: flex;
	justify-content: center;
	color: var(--accent-blue);

	> svg {
		width: 32px;
		height: 32px;
		animation: loading .75s linear infinite;
	}
}

.style-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	width: max-content;

	background: var(--material-background);
	border: 2px var(--fill-primary) solid;
	box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .15);
	color: var(--fill-primary);
	display: none;
	margin-left: 40px;
	max-width: 700px;
	min-width: 50px;
	overflow: hidden;
	padding: 5px 9px;
	text-align: left;
	word-wrap: break-word;
	z-index: 15000;

	&.drop-open {
		display: block;
	}
}

.style-tooltip-content {
	overflow: hidden;
	word-wrap: break-word;
}

.csl-bib-body {
	margin-bottom: .6em;
	position: relative;
	word-wrap: normal;
}



.style-view-source,
.style-individual-link {
	color: var(--color-primary);
	display: none;
	font-size: 11px;
	line-height: .9em;
	margin-left: 2px;
	padding: 2px 6px 3px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: underline;

	li:hover &,
	li:focus-within & {
		display: inline;
	}
}

.style-individual-link {
	margin-left: 10px;
}

.preview-content {
	h3:first-child {
		margin-top: .25em;
	}
	
	h3 {
		font-size: 18px;
	}
}

::placeholder {
	color: var(--color-placeholder);
	opacity: 1; // Set opacity for Firefox
}