Options +MultiViews

php_flag zlib.output_compression On
php_value zlib.output_compression_level 5

php_value date.timezone "UTC"

# Versioned static files
RewriteEngine On
RewriteRule (styles-files/.+)\.(\d{10})\.(\w{2,4})$ $1.$3 [L]

# Performance tweaks: gzip, far-future expires, no etags
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript
<FilesMatch "\.(gif|png|jpe?g|js|css|swf|pdf|flv)$">
	ExpiresActive on
    ExpiresDefault "access plus 1 day"
</FilesMatch>

<FilesMatch "styles\.json$">
	Header set Access-Control-Allow-Origin "*"
	Header set Access-Control-Allow-Headers "Accept, If-Modified-Since"
	ExpiresActive on
	ExpiresDefault "access plus 1 minute"
</FilesMatch>

<FilesMatch "\.html">
	ExpiresActive on
	ExpiresDefault "access plus 1 hour"
</FilesMatch>

FileETag none
