@use 'sass:color';
@use "sass:map";

@mixin derive-colors($colors) {
	@each $name, $color in $colors {
		--#{$name}: #{$color};
	}

	// background materials
	--material-background: var(--color-background);
	--material-background50: var(--color-background50);
	--material-background70: var(--color-background70);
	--material-button: var(--color-button);
	--material-control: var(--color-control);
	--material-menu: var(--color-menu);
	--material-sidepane: var(--color-sidepane);
	--material-tabbar: var(--color-tabbar);
	--material-toolbar: var(--color-toolbar);
	--material-mix-quinary: var(--color-quinary-on-background);
	--material-mix-quarternary: var(--color-quarternary-on-background);
	--material-stripe: var(--color-stripe-on-background);

	// border materials
	--material-border-transparent: 1px solid transparent;
	--material-border: 1px solid var(--color-border);
	--material-border50: 1px solid var(--color-border50);
	--material-panedivider: 1px solid var(--color-panedivider);
	--material-border-quinary: 1px solid var(--fill-quinary);
	--material-border-quarternary: 1px solid var(--fill-quarternary);
}